.container {
  padding: 1em;
  background-color: #f7657d;
  padding-left: 1%;
  padding-right: 1%;
  color: white;
  display: flex;
  align-items: center;
}

.dot {
  background-color: white;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  margin: 0.5em;
}

.separator {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  background: white!important;
  color: black;
}

.button {
  width: 20%!important;
  color: black;
}
